<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,200;0,400;0,700;1,800&display=swap">

<nav class="nav-container">
  <header>
    <div id="logo">
      <img class="logo-img" src="../docs/burger_logo.png" style="width:70px;height:70px">
      <h1>Burgers-R-Us</h1>
    </div>
  </header>

<div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
  <form id="login-visible" class="form-control login" action="/login" method="POST">
    <input class="form-control login" name="email" type="email" placeholder="Email Address">
    <input class="form-control login" name="password" type="password" placeholder="Password">
    <button class="btn btn-primary" type="submit" name="submit" value="Login">Enter</button>
  </form>
  <div class="list-action">
    <div class="register-link" >
      <a href="/register">Register</a>
    </div>
    <div class="login-hidden" onclick="loginVisible()">Login</div>
    <div class="checkout-link" href="/checkout">
      <a href="/checkout">Checkout</a>
    </div><i class="fas fa-shopping-cart"></i>
  </div>
</nav>

<script>

  const loginVisible = () => {
    let form = document.getElementById("login-visible");
    form.style.visibility = "visible";
  }

</script>
