<link rel="stylesheet" href="/styles/footer.css" type="text/css" />


<footer class="footer">
  <div class="footer-top">
    <ul class="footer-list-top">
      <li>
        <h4 class="footer-list-header">About Burgers-R-Us</h4></li>
          <li>> GET TO KNOW US</li>
          <li>> PROMOS</li>
          <li>> BECOME A FRANCHISE</li>
    </ul>
    <section class="footer-social-section">
        <span>CONNECT with US</span>
        <span class="footer-social-icon">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram-square"></i>
    </section>
    <ul class="footer-list-top">
      <li>
        <h4 class="footer-list-header">Info</h4></li>
          <li>> CONTACT</li>
          <li>> FAQ</li>
          <li>> STORE LOCATOR</li>
    </ul>
  </div>
  <div class="footer-bottom">
    <section class="footer-last">
      <i class="fa fa-copyright" role="copyright">
      </i> 2020 Office in <address class="footer-address"> Montreal, QC</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </section>
  </div>
</footer>
