* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin-top: 77px;
  font-family: 'Roboto', sans-serif;
}

.bkg-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;

    .page-title{
      color: darkgoldenrod;
      background-color: white;
      margin: 15%;
      font-size: 300%;
      border: 1px solid darkgoldenrod;
      display: flex;
      align-items: center;

      }
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  border: 3px solid darkgoldenrod;
  margin: 8%;

  .title {
    color: darkgoldenrod;
    display: flex;
    justify-content: center;
    font-size: 400%;
    border: 1px solid cornsilk;
    font-family: none;
    margin: 50px 0px 0px 0px;
    padding-bottom:50px;
    border-bottom: 1px solid darkgoldenrod

  }
}
.all-items {
  display: flex;
  flex-direction: column;
}

#order-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid darkgoldenrod;

  .remove-item {
    margin:30px;
    button {
      background-color: transparent;
      border: none;
      outline: none;
    }
    button:hover,
    button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: scale(1.3);
    outline: none;
}
  }
  .item-image {
    border-radius: 50%;
  }

  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px;
    .btn {
      background-color: transparent;
      border: 1px solid black;
      font-family: fantasy;
      font-size: 28px;
    }

    .quantity{
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      width:50%;


      .number-item {
        padding:10px;
        border-radius: 10px;
        text-align: center;
        width:15%;
        border: none;
        background-color: transparent;
        font-size: 24px;
        font-weight: bold;
      }
      .plus-btn {
        width: 40px;
        height: 40px;
        background-color: #f7bd8d;
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
      .minus-btn{
        width: 40px;
        height: 40px;
        background-color: #f7bd8d;
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
      .cart-total-price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 30px;
        font-size: 24px;
        font-weight: bold;
        font-family: fantasy;

        // .price {
        //   overflow: hidden;
        //   padding:10px;
        //   border-radius: 5px;
        //   text-align: center;
        //   width:30%;
        //   background-color: transparent;
        //   font-size: 24px;
        //   font-weight: bold;
        //   margin: 20px;
        //   border:none;
        // }

      }

    }
  }

}

.tooltip-inner {
  height: 76px;
  font-size: 20px;
  padding: 10px;
  background: goldenrod;
  border: 1px solid black;
  text-align: center;
  width: 60%;
  float: right;
  overflow: scroll;
  border-radius: 10px;
}

#confirmation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 6px double darkgoldenrod;

  .total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    font-family: fantasy;
    margin: 0px 30px 0px 0px;



    .total-item {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    .total-value {
      align-items: baseline;
      margin:20px;
    }
  }
}

  .confirm-order {
    margin:20px;
    display: flex;
    flex-direction: column;
    margin: 80px;
    border: 2px solid darkgoldenrod;



    .order-button {
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      background-color: cornsilk;

      font-size: 24px;
      font-family: inherit;

      border: 1px solid rgba(#ffb3c9, 0.3);
      box-shadow: 0 2px 2px rgba(#ffb3c9, 0.1);
      border-radius: 4px;

      transition: background 0.1s, color 0.1s, border-color 0.1s;

      &:hover {
        background: darken(#ffb3c9 , 10%);
        color: white;
        border-color: transparent;
      }
    }
  }

