// See: https://sass-lang.com/
$title-text: 'lobster', cursive;
$text: 'Montserrat', sans-serif;
$primary-color: #b8860b;


body {
  background-color: #EEE;
  height: 2000px;
}


.nav-container {
  background-color: lemonchiffon;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

  #logo {
    display:flex;
    align-items: center;
  }

  #logo .logo-img {
    margin: 30px 0px 30px 50px;
  }

  #logo h1 {
    font-size: 36px;
    text-align: center;
    color: black;
    margin: 30px 0px 30px 10px;
    font-family: $title-text;
  }

  #login-visible {
    display: flex;
    align-items: center;
    visibility: hidden;
    .form-control {
      background-color: transparent;
      border: 2px solid $primary-color;
      margin:10px;
    }
    button {
      margin: 10px;
      border: ridge;
      background-color: transparent;
      font-family: 'Montserrat';
      font-weight: 400;
    }
  }

  .login-hidden {
    border: 1px black
  }

  .login-hidden:hover {
    border: 2px solid color #000000;
    background-color: lemonchiffon;
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;

  }

  .menu-container {
    text-align: center;
    border: 1px solid black;
  }

  .list-action {
    display: flex;
    align-items: center;
    margin: 20px;
    font-family: $text;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
  }

  .register-link a {
    color: #000000;
    text-decoration: none;
  }

  .checkout-link a {
    color: #000000;
    text-decoration: none;
  }

  .list-action .register-link {
    padding: 20px;
  }

  .list-action .login-link {
    padding: 20px;
  }

  .list-action .checkout-link {
    padding: 20px;
  }
