// See: https://sass-lang.com/

body {
  background-color: #EEE;
  height: 2000px;
}

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .login-hidden {
    border: solid 1px black;
    cursor: pointer;
  }

  .login-hidden:hover {
    background-color:red;
  }

  #login-visible {
    margin-top: 10px;
    visibility: hidden;
  }

  h1 {
    color: #244751;
    text-align: center;
    margin-top: 25%;
    border: 1px solid white;
    margin-bottom: 10%;
  }

  .menu-container {
    text-align: center;
    border: 1px solid black;
  }

