// See: https://sass-lang.com/
$title-text: 'lobster', cursive;
$text: 'Montserrat', sans-serif;
$primary-color: #b8860b;
$break-small: 320px;
$break-large: 1200px;

* {
  box-sizing: border-box;
}

body {
  background-color: white;
	background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  height: 3000px;

}


.nav-container {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

  #logo {
    display:flex;
    align-items: center;
  }

  #logo .logo-img {
    width: 30vw;
    height: 20vw;
    margin: 30px 0px 0px 20px;
  }

  #logo h1 {
    font-size: 4vw;;
    text-align: center;
    color: black;
    margin: 30px 0px 0px 10px;
    font-family: $title-text;
    text-decoration: none;
  }

  .welcome-name {
    display: flex;
    margin-left: 11vw;
    font-family: fantasy;
    font-weight: 700;
    font-size: 2vw;
  }

  .menu-container {
    text-align: center;
    border: 1px solid black;
  }

  .list-action {
    display: flex;
    align-items: center;
    align-content: baseline;
    margin-top: 40px;
    font-family: $text;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
  }

  .register-link {
    margin: 0 20px 20px;
    a {
      color: #000000;
      text-decoration: underline black;
    }
    i {
      visibility: hidden;
    }
    &:hover {
      i {
        visibility: visible;
        margin-top: 5px;
      }
    }
  }

  .login-state {
    display: flex;
    .checkout-link {
      margin-top: 30px;;
        a {
          color: #000000;
          text-decoration: underline black;
        }
        i {
          visibility: hidden;
        }
        &:hover {
          i {
            visibility: visible;
            margin-top: 5px;
          }
        }
      }
    .logout {
      .btn {
        color: #000000;
        text-decoration: underline black;
        background-color: transparent;
        border:none;
      }
      i {
        visibility: hidden;
      }
      &:hover {
        i {
          visibility: visible;
          margin-top: 5px;
        }
      }
    }
  }




  nav #login-trigger {
    border-radius: 3px 0 0 3px;
    background-color: transparent;
    font-family: $text;
    font-size: 100%;
    color: #000000;
    text-decoration: none;

  }

  nav fieldset {
    border: none;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  nav #login-trigger:hover,
  nav #login .active,
  nav #signup a:hover {
    background: transparent;
  }

  nav #login-content {
    width: min-content;
    display: contents;
    position: absolute;
    border: 1px solid goldenrod;
    top: 110px;
    right: 0;
    z-index: 999;
    background: white;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
    visibility: hidden;
    display:none;
  }


  #login-visible {
    display: flex;
    align-items: center;
    .form-control {
      background-color: white;
      border: 2px solid $primary-color;
      margin:10px;
    }

  nav li #login-content {
    right: 0;
    width: 250px;
  }

  #inputs input {
    background: white;
    border: 2px solid $primary-color;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border-radius: 3px;

  }

  #inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
  }

  #login #actions {
    margin: 10px 0 0 0;
  }

  #cart-counter {
    margin-left: 3px;
  }
  #login #submit {
    margin: 10px;
    background-color: lemonchiffon;
    font-family: 'Montserrat';
    font-weight: 400;
    border-radius: 3px;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    color: transparent
  }


  #login #submit:active {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  }
}


@media only screen and (min-width: 800px) {
  .checkout-link {
    font-size: large;
    margin: 40px 30px 20px 30px;
  }
}



