$title-text: 'lobster', cursive;
$text: 'Montserrat', sans-serif;
$primary-color: #b8860b;

*{
  box-sizing: border-box;
}

body {
  background-color: white;
	background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.main-image {
  display: flex;
  margin-top: 130px;
  flex-direction: column;
  width: 100%;
  background-size: cover;
	.page-title {
    color: cornsilk;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 80px;
  }
  .title-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $text;
    font-size: 30px;
    color: cornsilk;
    margin: 0 20% 0% 20%;
    letter-spacing: 3px;
    font-variant: small-caps;
  }
}
.main-content {
	background-color: white;
	background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  width:100%;
  overflow: hidden;
}

#menu {
	display: flex;
  flex-direction: column;
  border: 3px solid $primary-color;
  margin: 8%;
}

#appetizer-menu {
  background-color: white;
	display: flex;
  flex-direction: column;
  border: 3px solid $primary-color;
	.item {
    display: flex;
    padding:10px;
    overflow: auto;
	}
	h2 {
    border-bottom: 1px solid $primary-color;
		font-family: sans-serif;
		font-weight: bold;
		color: $primary-color;
		font-size: 1.5rem;
		display: flex;
    justify-content: center;
    margin: 15px;
  }
  .product-img {
    width: 120px;
    height: 120px;
    display: flex;
    margin: 40px;
    align-items: center;
  }

	.detail {
		display: flex;
    flex-direction: column;
    margin: 10px;
    padding:10px;
    width: 80%
	}
	.item-header {
		display: flex;
		align-items: baseline;
	}
	.item-title {
		font-family: 'Lobster', cursive;
    font-size: 28px;
    font-weight: 600;
		margin: 20px 20px 20px 20px;
  }
  .item-dot {
    flex: 1;
    border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }
	.item-price {
		font-family: fantasy;
    font-size: 25px;
    font-weight: 400;
    margin: 0% 5% 0% 5%;
  }
	.item-description {
		font-family: 'Montserrat', sans-serif;
		font-size: large;
		margin: 0px 20px 0px 20px;
	}
	.add-cart {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #b8860b;
    background-color: transparent;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #b8860b;
    text-align: center;
    transition: all 0.2s;
    margin: 2% 70% 2% 2%;
		&:hover {
			color: #000000;
      background-color: lightgoldenrodyellow;
      transform: scale(1.1);
		}
	}
}
