body {
	background-color: lemonchiffon;
	background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.main-image {
	display: flex;
	margin-top: 97px;
	justify-content: center;
  flex-direction: column;
  width:120%;
	.page-title {
		color: cornsilk;
		display: flex;
		justify-content: center;
		margin: 15% 50% 10% 50%;
		font-size: 400%;
		border: 1px solid cornsilk;
	}
	p {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: monospace;
		font-size: 300%;
		color: cornsilk;
	}
}
.main-content {
	background-color: lemonchiffon;
	background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  width:120%;
  overflow: hidden;
}

#menu {
	display: flex;
  flex-direction: column;
  border: 3px solid darkgoldenrod;
  margin: 8%;
}

#appetizer-menu {
	display: flex;
  flex-direction: column;
  border: 3px solid darkgoldenrod;
	.item {
    display: flex;
    padding:10px;
	}
	h2 {
    border-bottom: 1px solid darkgoldenrod;
		font-family: sans-serif;
		font-weight: bold;
		color: darkgoldenrod;
		font-size: 36px;;
		display: flex;
    justify-content: center;
    margin: 15px;
	}
	.item-img {
		display: flex;
    margin: 15px;
    padding-left:15px;
    width:20%;
    align-items: center;
	}
	.detail {
		display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    padding:10px;
    width: 80%
	}
	.item-header {
		display: flex;
		align-items: baseline;
	}
	.item-title {
		font-family: fantasy;
    font-size: 28px;
    font-weight: 600;
		margin: 20px 20px 20px 20px;
  }
  .item-dot {
    flex: 1;
    border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }
	.item-price {
		font-family: fantasy;
    font-size: 25px;
    font-weight: 400;
    margin: 0% 5% 0% 5%;
  }
	.item-description {
		font-family: fantasy;
		font-size: large;
		margin: 0px 20px 0px 20px;
	}
	.add-cart {
		display: inline-block;
		padding: 0.35em 1.2em;
    border: 0.1em solid darkgoldenrod;
    background-color: transparent;
		margin: 20px 500px 20px 10px;
		box-sizing: border-box;
		font-family: 'Roboto',sans-serif;
		font-weight: 300;
		color: darkgoldenrod;
		text-align: center;
		transition: all 0.2s;
		&:hover {
			color: #000000;
			background-color: darkgoldenrod;
		}
	}
}
